@tailwind base;
@tailwind components;
@tailwind utilities;

/* add any additional CSS styling (affects the whole app) here */
a:not(button a):not(nav a):not(div[role="menuitem"] a):not(#peerprep-header) {
  @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600
}

/* custom styling for black background, white foreground buttons in UI */
.btnblack {
  @apply bg-black hover:bg-gray-800 text-white hover:text-gray-100 !important;
}

/* custom styling for green background, white foreground buttons in UI */
.btngreen {
  @apply bg-green-500 hover:bg-green-500/85 text-white hover:text-gray-100 !important;
}
@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%}
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%}}
@layer base {
  * {
    @apply border-border;}
  body {
    @apply bg-background text-foreground;}}